<div class="container">
  <div class="write-message-card">
    <div class="body">
      <label for="attachment-upload" class="border-left">
        <mat-icon class="rotate">attachment</mat-icon>
      </label>
      <input
        id="attachment-upload"
        (change)="addAttachment($event)"
        type="file"
      />
      <div class="write-message">
        <input
          type="text"
          placeholder="What's on your mind?"
          [(ngModel)]="text"
          (keydown)="keyDownFunction($event)"
          #blogText
        >
      </div>
      <button><mat-icon>sentiment_satisfied</mat-icon></button>
      <button class="border-right"><mat-icon>mic</mat-icon></button>
    </div>
  </div>
  <div *ngFor="let post of posts">
    <h2>{{ post.title }}</h2>
  </div>
</div>