.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 8px 30px;
  background: rgb(67, 67, 67);

  .profile {
    display: flex;
    align-items: center;
    background-color: inherit;
    position: relative;

    p, span {
      background-color: inherit;
      font-size: 16px;
    }

    span {
      font-weight: 800;
    }

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: rebeccapurple;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 5px;
      position: relative;
      cursor: pointer;
      transition: 100ms ease-in;

      .online-status {
        position: absolute;
        height: 15px;
        width: 15px;
        background: $online;
        border-radius: 50%;
        border: 3px solid rgb(67, 67, 67);
        top: 0;
        right: -10px;
      }

      h4 {
        margin: 0;
        background: inherit;
      }
    }

    @-webkit-keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }

    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }

    .toolbar {
      position: absolute;
      bottom: -435px;
      right: -15px;
      background-color: rgb(67, 67, 67);
      transition: 100ms ease-in;
      border-radius: 5px;
      display: none;
      width: 220px;
      -webkit-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.075);
      -moz-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.075);
      box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.075);

      &::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 75%;
        border: 15px solid transparent;
        border-bottom-color: rgb(67, 67, 67);
        z-index: 1;
      }

      &.display {
        display: block;
        -webkit-animation: fadeIn 180ms;
        animation: fadeIn 180ms;
        animation-fill-mode: forwards;
      }

      .dropdown-divider {
        display: block;
        height: 0;
        margin: 8px 0;
        border-top: 1px solid white;
      }

      .toolbar-section {
        background: rgb(67, 67, 67);
        margin: 10px 0;

        &.flex {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            padding: 8px 10px;
            background: rgb(67, 67, 67);
            cursor: pointer;
            transition: 50ms ease-in;

            a {
              background: inherit;
              user-select: none;
            }

            @keyframes bulge {
              0% {
                transform: scale(1.0);
                -webkit-transform: scale(1.0);
              }
              100% {
                transform: scale(2.0);
                -webkit-transform: scale(2.0);
              }
            }        

            &:hover {
              background: #b7ff4c;

              a {
                color: black;
              }
            }
            
            &:active {
              opacity: 0.8;
            }
          }
        }

        button {
          border: 1px solid white;
          background: rgb(67, 67, 67);
          padding: 6px 25px;
          border-radius: 16px;
          transition: 50ms ease-in;
          cursor: pointer;

          &:hover {
            background: #b7ff4c;
            color: black;
          }
        }
      }
    }
  }
}