<header class="nav-container">
  <div class="app-logo"></div>
  <div class="profile">
    <p>{{welcomeMessage}}<span> Paddy Hoveman</span></p>
    <div class="avatar" (click)="openModal($event)">
      <div class="online-status"></div>
      <h4>PH</h4>
    </div>
    <nav class="toolbar" [ngClass]="hasBeenToggled ? 'display' : 'no-display'" (clickOutside)="closeModal()">
      <div class="toolbar-section">
        <ul>
          <li><a>Home</a></li>
        </ul>
      </div>
      <div role="none" class="dropdown-divider"></div>
      <div class="toolbar-section">
        <ul>
          <li><a>Post</a></li>
          <li><a>Report</a></li>
          <li><a>About</a></li>
        </ul>
      </div>
      <div role="none" class="dropdown-divider"></div>
      <div class="toolbar-section flex">
        <button><mat-icon>mood</mat-icon><span>Set status</span></button>
      </div>
      <div role="none" class="dropdown-divider"></div>
      <div class="toolbar-section">
        <ul>
          <li><a>Your profile</a></li>
          <li><a>Your recipes</a></li>
          <li><a>Your settings</a></li>
        </ul>
      </div>
      <div role="none" class="dropdown-divider"></div>
      <div class="toolbar-section">
        <ul>
          <li><a>Sign out</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>