<div (mousedown)="mouseDownHandler($event)" (mousemove)="mouseMoveHandler($event)" (mouseup)="mouseUpHandler()" class="page-container">
  <div id="game-card-container" data-mouse-down-at="0" data-prev-percentage="0">
    <img src="./../../assets/placeholder-card-one.jpg" routerLink="/games/fighter" class="image" alt="placeholder-card-one" draggable="false">
    <img src="./../../assets/placeholder-card-two.jpg" class="image" alt="placeholder-card-two" draggable="false">
    <img src="./../../assets/placeholder-card-three.jpg" class="image" alt="placeholder-card-three" draggable="false">
    <img src="./../../assets/placeholder-card-four.jpg" class="image" alt="placeholder-card-four" draggable="false">
  </div>
</div>